---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="About" description="About page">

    <section>
        <img src="/img/1.jpg" alt="">
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis repellendus quis laboriosam velit, iure officiis ex asperiores! Odit, facere et.</p>
    </section>

</MainLayout>


<style>

</style>