---
---

<footer>
    <p>&copy; <span id="copyright"></span> | Все права защищены.</p>
</footer>

<style>
    footer {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 2rem 2rem;

        width: 100%;

        border-top: 1px solid #f3f3f3;
    }
    
</style>

<script>    
    document.querySelector('#copyright').textContent = new Date().getFullYear().toString();
    
</script>