---
import Logo from "../components/Logo.astro";
---

<header>
    <nav>
        <Logo />
        <ul>
            <li><a href="/blog">Блог</a></li>
            <li><a href="/about">Обо мне</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
        <p>Menu</p>
    </nav>
</header>

<style>


    header {
        max-width: 1600px;
        margin: 0 auto;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 0 auto;
        padding: 3rem 6rem;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    a {
        font-weight: 500;
    }

</style>