---
---

<a href="/">
    <div class="circle"></div>
    <p>glEEEb</p>
</a>

<style>

    a {
        display: flex;
        gap: .5rem;
        align-items: center;
    }

    .circle {
        width: 18px;
        height: 18px;
        background: #8FB996;
        border-radius: 50%;
    }

    p {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -1px;
    }
</style>